<p >search-component works!</p>



<!-- (click) = focusToInput($event.target) -->
<div class="searchWrapper rigthSide">
    <div class="searchIconWrapper" (click) = focusToInput($event.target)>
        <img src="../../assets/images/searchIcon.svg" alt="searchImg" class="searchInputIcons">
    </div>

    <input type="text" #searchField
        (input) = searchTasks(value);
        [(ngModel)] = value>

    <div class="closeIconWrapper">
        <img src="../../assets/images/closeSearchIcon.svg" alt="closeSearchImg" class="searchInputIcons closeIcon">
    </div>
</div>

<ul *ngIf="search.length">
    <li *ngFor="let task of search">
        {{ task }}
    </li>
</ul>