.navHeader {
    display: flex;
    height: 48px;
    justify-content: space-between;
    align-items: center;

    background-color: rgb(0,120,215);
}

.mainContent {
    display: flex;
    display: flex;
    height: -webkit-fill-available;
}