<div class="mainBox">
    <!-- Header Box -->
    <div class="header-box">
    
        <!-- Header Left Side -->
    
        <div class="header-title">
            <span class="header-title__text">
                Мой день
            </span>
            
            <span class="header-title__date"> {{ day | date}}</span>
        </div>
    
        <!-- Header Rigth Side -->
    
        <div class="header-sort-box">
    
        </div>
    </div>
    
    <!-- Input Box -->
    
    <div class="task-input-wrapper" #taskInputWrapper>
    
        <!-- Input-img Box -->
    
        <div class="task-input-add-icon" (click) = focusToInput($event) #addIconWrapper>
            <img src="../../assets/images/leftBarSide/plusIcon.svg" alt="plus" class="task-input-add-icon__img" #addIcon>
        </div>
        
        <!-- Input Field Box -->
    
        <input type="text" placeholder="Добавить задачу"
            class="task-input-wrapper__input-field"
            (click) = focusToInput($event)
            (keydown.enter) = addTask()
            (blur) = addTask()
            #tasksInput [(ngModel)]="taskInput">
        
        <!-- Input add-task Box -->
        
        <button *ngIf="tasksInput.value"
            class="task-input-wrapper__add-btn"
            (click) = addTask()
        >
            Добавить
        </button>
    </div>
    
    <!-- All Tasks Box -->
    
    <div class="tasks">
        
        <!-- Uncomplited Tasks Box -->
    
        <div class="task-item"
            *ngFor="let task of tasks; let i=index"
            (click) = openTaskDetail(task);
        >
            <div class="task-item__icon-circle" (click) = "addInComplitedTask(task, i)"></div>

            <span class="task-item__title">
                {{ task.text }}
                <div class="" *ngIf="task.daily">Дневные</div>
            </span>
        </div>
    
        <!-- Complited Tasks Box -->
        
        <div *ngIf="complitedTasks.length" 
            class="complited-tasks" 
            #complitedTasksWrapper>
    
            <!-- Complited Tasks Header -->
    
            <div class="complited-tasks-header" (click) = complitedTasksAppearance()>
                
                <img class="complited-tasks-header__arrow" src="../../assets/images/arrow.svg" #img>
    
                <span class="complited-tasks-header__title">
                    Завершенные
                </span>
            </div>
        
            <!-- Complited Tasks List -->
            
            <div class="task-item"
                *ngFor="let complitedTask of complitedTasks"
                >
                <div class="task-item__icon-circle"></div>
                <span class="task-item__title">
                    {{ complitedTask }}
                </span>
            </div>
        </div>
    
    </div>
    
    
</div>

<div *ngIf="openDetail" class="taskDetail" #taskDetailBox>
    <app-task-detail 
        
    ></app-task-detail>
</div>
    
