<div class="taskDetailBox">
    <div class="section taskDetailInstance">
        <div class="circle"></div>
        <input 
            type="text" 
            [(ngModel)] = myTask.text
            placeholder= {{myTask.text}}>
        <img src="../../assets/images/taskDetail/starIcon.svg" alt="star">
    </div>


    <div class="section myDayBox">
        <img src="../../assets/images/leftBarSide/sunIcon.svg" alt="sun">
        
        <span 
            *ngIf="!myTask.daily; 
            else daily"
            (click) = addToDailyTasks()
            >
            Добавить в представление мой день
        </span>

        <ng-template #daily>
            <span class="myDayBox__note">Добавлено в представление мой день</span>
            
            <span 
                class="closeImg"
                (click) = deleteFromDailyTasks()    
            >close</span>
        </ng-template>
    </div>


    <div class="section">
        <div class="section-item"
            (click) = openNotification()

            (contextmenu) = openNotification()
        >
            <img src="../../assets/images/taskDetail/alarmClock.svg" alt="it">
            <span *ngIf="!myTask.reminderNote">Напомнить</span>
            <span> {{ myTask.reminderNote | date: "MMM d, hh:mm:ss a"}} </span>

            <div class="notificationMenu-container" *ngIf="notificationTurn">
                <div class="notificationMenu-title">
                    <span>Напоминание</span>
                </div>

                <div class="notificationMenu-items">
                    <ul class="notificationMenu-items-list">
                        <li class="notificationMenu-items-list__item"
                            (click) = afterHour()
                        >Позднее сегодня</li>
                        <li class="notificationMenu-items-list__item"
                            (click) = getTomorrow()
                        >Завтра</li>
                        <li class="notificationMenu-items-list__item"
                            (click) = getNextWeek()
                        >Следующая неделя</li>
                        <!-- <li class="notificationMenu-items-list__item">Другая дата</li> -->
                    </ul>
                </div>
            </div>
        </div>

        <div class="section-item"
            (click) = openDeadLineBlock()
        >
            <img src="../../assets/images/taskDetail/calendar.svg" alt="it">
            <span *ngIf="!myTask.deadLine">Добавить дату выполнения</span>
            <span *ngIf="myTask.deadLine"> Срок: {{ myTask.deadlineNote }} </span>
            <div class="notificationMenu-container" *ngIf="deadLineTurn">

                <div class="notificationMenu-title">
                    <span>Срок</span>
                </div>

                <div class="notificationMenu-items">
                    <ul class="notificationMenu-items-list">
                        <li class="notificationMenu-items-list__item"
                            (click) = setDeadlineToday()
                        >сегодня</li>
                        <li class="notificationMenu-items-list__item"
                            (click) = setDeadlineTomorrow()
                        >Завтра</li>
                        <li class="notificationMenu-items-list__item"
                            (click) = setDeadlineNextWeek()
                        >Следующая неделя</li>
                    </ul>
                </div>

            </div>

        </div>

        <div class="section-item">
            <img src="../../assets/images/taskDetail/repeat.svg" alt="it">
            <span>Повтор</span>
        </div>
    </div>

    <div class="section detailCategory-section">
        <div class="section-item">
            <img src="../../assets/images/taskDetail/repeat.svg" alt="it">
            <span>Выберите категорию</span>
        </div>
    </div>

    <!-- <div class="section detailCategory-section"> -->
        <textarea class="section">
        </textarea>
    <!-- </div> -->

    <div class="detailSectionFooter">

        <div class="" *ngIf="myTask.complited; else uncomplited"> Завершено </div>
        <ng-template #uncomplited>

            <div class=""> Не завершено </div>
        </ng-template>
    </div>
</div>