<div class="taskDetailBox">
    <div class="section taskDetailInstance">
        <div class="circle"></div>
        <input type="text">
        <img src="" alt="star">
    </div>

    <div class="section myDayBox">
        <img src="" alt="sun">
        <span>Добавить в в представление мой день</span>
    </div>

    <div class="section">
        <div class="section-item">
            <img src="" alt="it">
            <span>Напомнить</span>
        </div>
        <div class="section-item">
            <img src="" alt="it">
            <span>Добавить дату выполнения</span>
        </div>
        <div class="section-item">
            <img src="" alt="it">
            <span>Повтор</span>
        </div>
    </div>

    <div class="detailCategory-section">

    </div>

    <div class="detailSectionFooter"></div>
</div>